body {
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe6e6; /* Color suave rosa */
}
.container {
    text-align: center;
    background-color: #fff0f5; /* Fondo rosado claro */
    padding: 40px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); /* Sombra sutil */
    border-radius: 12px;
    border: 2px solid #ffccd5; /* Bordes suaves rosas */
}
h1 {
    color: #e60073; /* Rojo vibrante */
    font-size: 36px;
    position: relative;
}
h1::after {
    content: "💕";
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 36px;
}
#daysCounter {
    font-size: 56px;
    color: #ff3366; /* Rosa intenso */
    margin-top: 20px;
}